/*App*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A5568;
  font-family: 'Mukta', sans-serif;
  background-color: #F7FAFC;
}

.home, .randomizer, .details-page {
  width: 90%;
  margin: auto;
}

/*Header*/
.header-container {
  padding-left: 5%;
  overflow: auto;
}
.header-title {
  font-family: 'Ubuntu Mono', monospace;
  color: #F6AD55;
}

.header-tagline {
  font-style: oblique;
}

.error-message {
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 8px 14px;
  width: fit-content;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.error-icon {
  margin-right: 10px;
  color: #F6AD55;
  font-size: 1.8em;
}

/*Navigation*/

#nav {
  position: sticky;
  top: 0;
  padding-left:5%;
  background: #F6AD55;
  margin-top: 0;
}

#nav a {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  color: #4A5568;
}

#nav a.router-link-exact-active {
  color: #ffff
}

.inner-nav {
  padding: 10px 0px;
  display: flex;
}

/*Home*/
.event-item {
  background: #fff;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

.event-subtitle, .sort {
  font-weight: 600;
}

.sort-events {
  margin-bottom: 15px;
}

.details-btn, .randomize-btn {
  color: #fff;
  border: 2px solid #F6AD55;
  background-color: #F6AD55;
  padding: 3px 10px;
  border-radius: 6px;
  font-weight: 600;
}

.details-btn:hover {
  background-color: #fff;
  color: #F6AD55;
  transition: 0.2s;
}

.error-container {
  height: 60vh;
}

.image-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.event-image {
  object-fit: cover;
  height: 100%;
  width: auto;
  border-radius: 50%;
}



/*Details*/

.link-container {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}



.back-icon {
  margin-right: 7px;
  font-size: 1.8em;
  color: #F6AD55;
  border-radius: 50%;
  padding: 4px;
}
.back-icon:hover {
  background: #F6AD55;
  color: #fff;
  transition: 0.2s;
}

.back-title {
  font-weight: 600;
}

.event-subtitle {
  margin-right: 3px;
}

.seat-link {
  margin-top: 20px;
}

.related-events {
  padding: 50px 0px;
}

/*Randomizer*/

.event-container {
  padding: 30px 0px;
  height: 80vh;
}

.randomize-btn {
  color: #fff;
  border: 2px solid #F6AD55;
  background-color: #F6AD55;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 800;
}

.randomize-btn:hover {
  background-color: #fff;
  color: #F6AD55;
  transition: 0.2s;
  cursor: pointer;;
}


/*Fotter*/

.footer-container {
  padding: 20px 5%;
  background: #F6AD55;
}

.nav-title {
  margin: 0px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
}

.footer-links {
  color: #4A5568;
  font-weight: 600;
}

.footer-links:hover {
  color: #fff;
  transition: 0.2s;
}

.copy-icon {
  color: #fff;
  font-weight: 600;
}

.attr-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

.attr-link:hover {
  border-bottom: 2px solid #fff;
}

/*Loader*/

.loader-container {
  padding: 80px;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #F6AD55;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Scroll button*/
.scroll-icon {
  color: #fff;
  padding: 8px;
  background: #F6AD55;
  border-radius: 50%;
  font-weight: 400;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.08);
}

.scroll-container {
  position: fixed;
  right: 60px;
  bottom: 20px;
}

.scroll-container:hover {
  cursor: pointer;
}

/*Select dropdown*/

.sort-events {
  padding: 2px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #718096;
  font-family: 'Mukta', sans-serif;
  font-size: 0.9em;
  border: 2px solid transparent;
  font-weight: 600;
  margin-bottom: 25px;
}

.sort-events:focus {
  outline: none;
  border: 2px solid #F6AD55;
}

.sort-events option {
  font-weight: 600;
  color: #718096;
}

.sort {
  font-size: 1.1em;
  margin-right: 5px;
}

/*Categories && Sort */

.menu-container {
  display: flex;
  align-items: center;
}

.menu-container:hover {
  cursor: pointer;
}

.categories-label, .sort-label {
  font-weight: 600;
}

.dropdown-icon {
  color: #fff;
  margin-left: 5px;
}

.sort-icon:hover {
  cursor: pointer;
}

.categorie-dropdown {
  position: absolute;
  margin-top: 10px;
  padding: 12px 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 160px;
}

.categorie, .sort-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 18px;
}

.categorie:hover {
  background: #F6AD55;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}

.sort-item:hover {
  background: #F6AD55;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}

.sort-items {
  position: absolute;
  margin-top: 10px;
  padding: 12px 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 200px;
}

.sort-container {
  margin-bottom: 20px;
}

.expand-icon {
  margin-left: 5px;
  color: #F6AD55;
}

.sorted-icon {
  margin-left: 5px;
  color: #F6AD55;
  font-size: 1.8em;
}

.sort-menu {
  display: flex;
  background: #fff;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: fit-content;
}

.sort-menu:hover {
  cursor: pointer;
}
