@media only screen and (min-width: 600px) {

  .event-list, .related-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .event-item {
    width: 45%;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }

  .related-event {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .text-container {
    width: 40%;
  }

  .event-details {
    width: 60%;
  }
}

@media only screen and (min-width: 850px) {
  .home, .randomizer, .details-page, .inner-header, .footer, .inner-nav {
    width: 850px;
    margin: auto;
  }

  .header-container, #nav {
    padding-left: 0;
  }

}
